@{
    ViewBag.Title = "Home Page";
}

<h1>Homepage</h1>

<div>@Html.ActionLink("Products List", "ShowProduct", "Product")</div>

<div>@Html.ActionLink("Create Product", "CreateProduct", "Product")</div>

<div>@Html.ActionLink("Register", "Register", "Register")  </div>

<div>@Html.ActionLink("Login", "Login", "Login")  </div>

<div>@Html.ActionLink("Show Products in Grid", "ShowProductsGrid", "Product")  </div>

