@model IEnumerable<Online_Shopping.tblProduct>

@{if (TempData["regStatus"] == null)
    {
        ViewBag.Title = "Our Products List";
    }

    else
    {
        ViewBag.Title = "Product Successfully Added - Our Products List";
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Product Successfully Added</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
            </div><!-- /.box -->
        </div>
    }
}
@{if (TempData["editStatus"] == null)
    {

    }

    else
    {

        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Product Edited Successfully</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
            </div><!-- /.box -->
        </div>
        ViewBag.Title = "Successfully Edited - Our Products List";
    }
}

@{if (TempData["delStatus"] == null)
    {

    }

    else
    {
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Successfully Deleted</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
            </div><!-- /.box -->
        </div>
        ViewBag.Title = "Successfully Deleted - Our Products List";
    }
}




<h2>ShowProduct</h2>

<p>
    @Html.ActionLink("Create New", "CreateProduct")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "VirtualDelete", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>
