@model Online_Shopping.ViewModel.RegisterVM

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>RegisterModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UserCnfPwd.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.User.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserCnfPwd.Name, "", new { @class = "text-danger" })

        </div>
    </div>
    <label class="label-danger"></label>

    <div class="form-group">
        @Html.LabelFor(model => model.UserCnfPwd.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.User.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserCnfPwd.UserName, "", new { @class = "text-danger" })

            <label class="label-danger">@ViewBag.alert</label>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserCnfPwd.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.User.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserCnfPwd.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <label class="label-danger"></label>

    <div class="form-group">
        @Html.LabelFor(model => model.UserCnfPwd.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.UserCnfPwd.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserCnfPwd.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <label class="label-danger"></label>

    <div class="form-group">
        @Html.LabelFor(model => model.Profile, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.User.profileId, Model.Profile, "----SELECT----", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Profile, "", new { @class = "text-danger" })
        </div>
    </div>
    <label class="label-danger"></label>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Sign Up" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Login", "Login","Login")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
